body {
    background: lightgray;
    background-image: url(https://i.imgur.com/afCsLA6.jpg);
    background-repeat: repeat;
    background-position: top;
    background-size: contain;
}
h1 {
    padding-left: 300px;
    padding-right: 100px;
    text-align: center;
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}
/* The side navigation menu */
.sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
      }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
#main{
    margin: 0;
    padding: 0;
    background-color: lightgray;
    overflow: auto;
    margin-top: 800px;
    margin-left: 180px;
    transition: margin-left .5s;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#about img {
    height: 160px;
    width: 140px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
#about h2{
    text-align: center;
}
#about p {
    margin-left: 100px;
    margin-right: 100px;
    border-spacing: 10px;
}
.border {
    border-style: solid;
    border-bottom-style: ridge;
    border-bottom-color: #818181;
    border-bottom-width: 2px;
    margin-top: 300px;
}
  
  #experiences {
      background-color: lightgray;
      padding-left: 100px;
      padding-right: 100px;
      text-align: center;
      padding: 20px;
  }
  #experiences h3 {
      margin-bottom: 90px;
  }
  #experiences th {
      border-bottom: 3px solid black;
      background-color: black;
      color: white;
  }
  #experiences tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  #experiences td {
      padding: 20px;
      border: 1px solid black;
  }
  #photography {
      padding-left: 100px;
      padding-right: 100px;
      text-align: center;
      background-color: lightgray;
  }
.photo{
    background-color: lightgray;
}
.photo img{
    width: auto;
    height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.bordertwo {
    border-style: solid;
    border-bottom-style: ridge;
    border-bottom-color: #818181;
    border-bottom-width: 2px;
    margin-top: 800px;
}
#photography h3 {
    margin-bottom: 90px;
}
.photo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  #photography::after {
    content: "";
    clear: both;
    display: table;
  }
#abilities {
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
}
#abilities h3 {
    margin-bottom: 90px;
}
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  border: 2px solid black;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: black;} /* Green */
.css {width: 80%; background-color: rgba(97, 97, 97, 0.247);} /* Blue */
.js {width: 65%; background-color: darkgray;} /* Red */

#contact {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}