body {
    background: lightgray;
    background-image: url(https://i.imgur.com/afCsLA6.jpg);
    background-repeat: repeat;
    background-position: top;
    background-size: contain;
}
h1 {
    padding-left: 300px;
    padding-right: 100px;
    text-align: center;
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}
/* The side navigation menu */
.sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
      }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
  }
  
 
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
#main{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left, lightgray, #818181);
    overflow: auto;
    margin-top: 800px;
    margin-left: 180px;
    transition: margin-left .5s;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#about img {
    height: 160px;
    width: 140px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
#about h2{
    text-align: center;
    font-size: 24px;
}
#about p {
    margin-left: 100px;
    margin-right: 100px;
    border-spacing: 10px;
    font-size: 20px;
}
.border {
    border-style: solid;
    border-bottom-style: ridge;
    border-bottom-color: #818181;
    border-bottom-width: 2px;
    margin-top: 300px;
}
  
  #experiences {
      padding-left: 100px;
      padding-right: 100px;
      text-align: center;
      padding: 20px;
  }
  #experiences h3 {
      margin-bottom: 90px;
      font-size: 24px;
  }
  #experiences th {
      border-bottom: 3px solid black;
      background-color: black;
      color: white;
  }
  #experiences tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  #experiences td {
      padding: 20px;
      border: 1px solid black;
  }
  #photography {
      padding-left: 100px;
      padding-right: 100px;
      text-align: center;    
  }
  #photography h3 {
      font-size: 24px;
  }
.photo{
    background-color: lightgray;
}
.photo img{
    width: auto;
    height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.bordertwo {
    border-style: solid;
    border-bottom-style: ridge;
    border-bottom-color: #818181;
    border-bottom-width: 2px;
    margin-top: 400px;
}
#photography h3 {
    margin-bottom: 90px;
}
.photo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: black;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
#abilities {
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
}
#abilities h3 {
    margin-bottom: 90px;
    font-size: 24px;
}
* {box-sizing:border-box}


.container {
  width: 100%; /* Full width */
  background-color: #ddd; 
  border: 2px solid black;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 65%; background-color: black;}
.css {width: 60%; background-color: rgba(97, 97, 97, 0.247);}
.js {width: 50%; background-color: darkgray;}

#contact {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
#contact button {
    display: inline-block;
    background-color: black;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  #contact button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: white;
  }
  #contact button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  #contact button:hover {
    background-color: #818181;
  }
  #contact button:hover span {
    padding-right: 25px;
  }
  #contact button:hover span:after {
    opacity: 1;
    right: 0;
  }